<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/public/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/public/assets/img/favicon.png">
  <title>
    <%- title %>
  </title>

  <meta name="keywords" content="Human Resource Information System, HRIS">
  <meta name="description" content="Human Resource Information System">

  <meta name="twitter:card" content="product">
  <meta name="twitter:site" content="@codecreative">
  <meta name="twitter:title" content="Human Resource Information System">
  <meta name="twitter:description" content="">
  <meta name="twitter:creator" content="@codecreative">

  <meta property="og:title" content="Human Resource Information System" />
  <meta property="og:type" content="HRIS" />
  <meta property="og:description" content="Human Resource Information System" />
  <meta property="og:site_name" content="Human Resource Information System" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

  <link href="/public/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/public/assets/css/nucleo-svg.css" rel="stylesheet" />

  <script src="https://kit.fontawesome.com/42d5adcbca.js"></script>
  <link href="/public/assets/css/nucleo-svg.css" rel="stylesheet" />

  <link id="pagestyle" href="/public/assets/css/soft-ui-dashboard.min%EF%B9%96v=1.1.1.css" rel="stylesheet" />

  <style>
    .async-hide {
      opacity: 0 !important
    }
  </style>

</head>